/* body standard*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* body standard ends*/

/* section3 */

.section3 {
  background-color: white;
  padding: 15px;
}
.section3-info {
  margin: 35px;
  padding: 30px;
  border: 5px solid rgb(60, 199, 246);
  border-radius: 16px;
  box-shadow: 10px 2px 10px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}
.section3-container {
  display: flex;
}

.section3-container-left {
  text-align: center;
  border-radius: 30px;
  box-shadow: 10px 2px 10px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 5px;
  margin-right: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  border: 5px solid rgb(60, 199, 246);
  border-radius: 16px;
  box-shadow: 10px 2px 10px 8px rgba(0, 0, 0, 0.1);
}
.section3-container-left h2 {
  font-size: 2rem;
  color: rgb(60, 199, 246);
  text-align: center;
  margin: 20px;
}

.section3-container-right {
  text-align: center;
  border-radius: 30px;
  box-shadow: 10px 2px 10px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 25px;
  margin-right: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  border: 5px solid rgb(60, 199, 246);
  border-radius: 16px;
  box-shadow: 10px 2px 10px 8px rgba(0, 0, 0, 0.1);
}
.section3-container-right h2 {
  font-size: 2rem;
  color: rgb(60, 199, 246);
  text-align: center;
  margin: 20px;
}

.section3-content {
  margin: 30px;
}
.section3-content h2 {
  font-size: 2rem;
  color: rgb(60, 199, 246);
  text-align: center;
  margin: 20px;
}
#About_US{
    font-size: 2rem;
    color: rgb(60, 199, 246);
    text-align: center;
    margin: 20px;
    
  }
.section3-content p {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-align: left;
}
.section3-sections ol li{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 50px;
    
}
.section3-opening-hours table{
  text-align: left;
  margin-left: 30px;
  padding: 30px;
  margin-top: 30px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 50px;
}
.section3-opening-hours caption{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(60, 199, 246);
  text-align: center;
  margin: 20px;
    
}
.section3-opening-hours tr th td{
  
}

/* section 3 ends*/

/* section 4 */

.section4 {
  background-color: rgb(60, 199, 246);
  padding: 15px;
}
.section4-info {
  margin: 35px;
  padding: 30px;
  border: 5px solid white;
  border-radius: 16px;
  box-shadow: 10px 2px 10px 8px rgba(0, 0, 0, 0.1);
}
.section4-info h2 {
  font-size: 2.5rem;
  color: white;
  text-align: left;
  margin-bottom: 20px;
}
.section4-info p {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-align: left;
}
.section4-info a:link {
  text-decoration: none;
  color: rebeccapurple;
}

.section4-info a:visited {
  text-decoration: none;
  color: darkviolet;
}

.section4-info a:hover {
  text-decoration: underline;
  color: white;
}

.section4-info a:active {
  text-decoration: underline;
  color: blue;
}

/* end section4 */
